@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about"] <a href="https://docs.microsoft.com/aspnet/core">@Localizer["building Web apps with ASP.NET Core"]</a>.</p>
</div>

<hr />
<div class="text-center">
    <h4 class="display-4">@Localizer["Select language"] : </h4>
    <p>
        <a href="/en/home/index">English</a> |
        <a href="/ru/home/index">Русский</a> |
        <a href="/uk/home/index">Україньська</a>
    </p>
</div>